<%- include("../partials/head.html") %> 
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image"/>
    <button type="submit" class="btn btn-success">upload</button>
</form>

<img src="<%= %> " alt="">


<%- include("../partials/bottom.html") %> 