<%- include("../partials/head.html") %> 

<div>
   <!-- <form action="/" class="text-center" method="POST"> -->
    <div>
      
        <%=post.title%> 
    </div>
    <div>
        <%=post.more%> 
    </div>

    <!-- <button class="btn btn-success">Back</button> -->
    
   <!-- </form>  -->
</div>