<%- include("../partials/head.html") %> 

<div style="padding-left:9% ;">
   <div>
    <img src="images/zendesk.PNG" class="pt-4"  alt="">
   </div>
   <div class="" style="padding-top: 8%;">
    <div class="shadow  " style=" height: 450px; width: 88%;">
<div class="d-flex">
    <div class="pt-5 w-50" style="padding-left: 6%;">
        <h1 style="font-size: 32px; font-weight: 700; font-family: sans-serif Arial, Helvetica, sans-serif; color: #03363d; line-height: 40px; ">
            Sign in to Zendesk
        </h1>
        <div class="mt-4">
            <span  class="">Your Zendesk subdomain</span>
       <div class="mt-1" style="border: 2px solid #06615A; height: 52px; width: 82%;">
        <input type="text" class="pl-3 mt-2" style="all: unset;
        width: 72%; ">
       </div>
        </div>
        <a href="#loginReminder" style="color:#03363d; font-size: 13px; font-weight: 600; margin-left: 35%;" class="mt-1"><span>Don't remember your company's url?</span></a>

        <button class=" mt-4" style="width: 82%; height: 52px; border: none; font-size: 18px; font-weight: 600;line-height: 28px;font-family: Arial, Helvetica, sans-serif; color: white; background-color: #06615A;">Sign in</button>
        <div class="mt-5 d-flex justify-content-center align-items-center " style="border: 2px solid #06615A; height: 52px; width: 82%;  font-size: 18px; font-weight: 600;line-height: 28px;font-family: Arial, Helvetica, sans-serif;">
           New to Zendesk? Start your free trial-->
           </div>
    </div>
    <div class="w-50 pt-5" >
<img src="images/zen.PNG" alt="">
    </div>
</div>
    </div>
   </div>
</div>
<%- include("../partials/bottom.html") %> 